extends layout

block content
  h1= title
  form(action="/register/submit", method="post")
    .form-group.row
      label.col-sm-2.col-form-label(for="name") Name
      .col-lg-10
        input.form-control(type="text", name="name", id="nameInput", placeholder="Name")
      label.col-sm-2.col-form-label(for="emailAddress") Email
      .col-lg-10
        input.form-control(type="email", name="email", id="emailInput", placeholder="name@example.com")
      button.btn.btn-primary(type="submit") Register