{# templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h2>Login Page</h2>
    <a href="{{loginUrl}}">Google Login</a>
{% endblock %}