extends ../layout

block content
  h1= title
  p Welcome to #{title}
  if user
    form(action="/users/edit", method="post")
    .form-group.row
      label.col-sm-2.col-form-label(for="name") Name
      .col-lg-10
        input.form-control(type="text", name="name", id="nameInput", placeholder="Name" value=user.name)
      label.col-sm-2.col-form-label(for="lastName") Last Name
      .col-lg-10
        input.form-control(type="text", name="lastName", id="lastNameInput", placeholder="Last Name" value=user.lastname)
      button.btn.btn-primary(type="submit") Edit
  else
    div User Not Found